{% extends "base.html" %}
{%block site %}
<!-- Seite gibt kurze Auskunft über das Projekt -->
    <h1>Welcome to Shazart</h1>
    <p>Shazart is a free-to-use service that can tell you within seconds which art epochs style a picture has.</p>
    <p>This is done through a Convolutional Neurol Network (CNN).</p>
    <p>The Neural Network can distinguish between 5 different Epochs:
        <ol>
            <li>Bauhaus</li>
            <li>Expressionism</li>
            <li>Impressionism</li>
            <li>Renaissance</li>
            <li>Romantic</li>
        </ol>
    </p>



{% endblock %}



